.container {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0;
    box-sizing: border-box;
    margin: auto;
}

.container input {
    margin: 10px 0;
    background-color: #fff;
    background: #fff;
    padding: 13px 16px 16px;
    border: none;
    font-size: 20px;
    color: #242424;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    box-shadow: 0 0 0 1px rgba(41, 41, 41, 0.1) inset, 0 3px 4px 0px rgba(41, 41, 41, 0.1) inset;
    transition: 0.15s;
}

.container button {
    margin: 10px;
    background: #40c3dd !important;
    border-radius: 5px;
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    height: 53px;
    transition: all 0.2s ease;
}